<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Saint Paul&#039;s Millennium Medical College</title>
	<atom:link href="https://sphmmc.edu.et/feed/" rel="self" type="application/rss+xml" />
	<link>https://sphmmc.edu.et</link>
	<description>OUR SPECIALITY, YOUR WELL-BEING</description>
	<lastBuildDate>Mon, 26 Feb 2024 08:01:46 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.9.25</generator>
	<item>
		<title>Re-Announcement</title>
		<link>https://sphmmc.edu.et/2024/02/26/re-announcement/</link>
		<pubDate>Mon, 26 Feb 2024 07:55:13 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>
		<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1947</guid>
		<description><![CDATA[Re-Announcement የቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ሕክምና ኮሌጅ በ2016 ዓ.ም Neonatal Nursing የነርሲንግ ፖስት ቤዚክ ስፔሻሊቲ ፣ ለመማር የምትፈልጉ እና መስፈርቱ የምታሟሉ ከ18/06/2016- 23/06/2016 ዓ.ም ሬጅስትራል ቢሮ እንድትመዘገቡ እናሳወቃለን፡፡ የመመዝገቢያ መስፈርቶች፣ በነርሲንግ ዲፕሎማ ደረጃ 4&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p><strong><u>Re-Announcement </u></strong></p>
<p>የቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ሕክምና ኮሌጅ በ2016 ዓ.ም <strong>Neonatal Nursing </strong>የነርሲንግ ፖስት ቤዚክ ስፔሻሊቲ ፣ ለመማር የምትፈልጉ እና መስፈርቱ የምታሟሉ ከ<strong>18/06/2016- 23/06/2016</strong> ዓ.ም ሬጅስትራል ቢሮ እንድትመዘገቡ እናሳወቃለን፡፡</p>
<ul>
<li><strong>የመመዝገቢያ</strong> <strong>መስፈርቶች፣</strong></li>
<li>በነርሲንግ ዲፕሎማ ደረጃ 4 የተመረቀች/የተመረቀ መወዳደር ይችላሉ፣</li>
<li>የሚድዋይፍሪ ዲፕሎማ ደረጃ የተመረቀች /የተመረቀ በጨቅላ ህፃናት ነርሲንግ መመዝገብ ይችላል፣</li>
<li>ከመስሪያ ቤታቸው የስፖንሰር ሺፕ ደብዳቤ ማምጣት የሚችል/የሚትችል ወይም ከፍሎ መማር የሚችል ፡፡</li>
<li>ኮሌጅ የሚያዘጋጀውን የቃል እና የፁሑፍ ፈተና ማለፍ የሚችል/የምትችል፣</li>
<li>ሙሉ ጤነኛ የሆነ/የሆነች</li>
<li>አንድ ዓመት የስራ ልምድ ያለው/ ያላት</li>
<li>የቃል እና የፁሑፍ ፈተና በ 24/6/2016 ዓ/ም</li>
</ul>
<p><u>ማሳሰቢያ፡</u></p>
<p>1.አስፈላጊውን ዶክመንት ያላሟላ ፈተናው ላይ እንደማይቀመጥ በጥብቅ እናሳውቃለን፡፡</p>
<p>2.ኮሌጁ ማደሪያና ምግብ አያዘጋጅም</p>
<ol start="3">
<li>የትምህርት ማስረጃ online መግባት አለበት፡፡</li>
</ol>
<p>&#8216; ለበለጠ መረጃ በዚህ ስልክ ቁጥር 251 -112 -75-60-89 በሥራ ሰዓት ይደወሉ ወይም አካል መገኝት ይችላሉ ፡፡</p>
]]></content:encoded>
			</item>
		<item>
		<title>Re-announcement for Nursing Applicants</title>
		<link>https://sphmmc.edu.et/2024/01/29/re-announcement-for-nursing-applicants/</link>
		<pubDate>Mon, 29 Jan 2024 12:31:47 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1943</guid>
		<description><![CDATA[ማስታወቂያ የቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ሕክምና ኮሌጅ በ2016 ዓ.ም በአምስት የነርሲንግ ፖስት ቤዚክ ስፔሻሊቲ ማለትም በ Emergency and Critical Care Nursing፣ በ operating Theater Nurse፣ በ neonatal Nursing፣ በ pediatric Nursing እና በ surgical&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p><strong><u>ማስታወቂያ</u></strong></p>
<p>የቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ሕክምና ኮሌጅ በ2016 ዓ.ም በአምስት የነርሲንግ ፖስት ቤዚክ ስፔሻሊቲ ማለትም በ Emergency and Critical Care Nursing፣ በ operating Theater Nurse፣ በ neonatal Nursing፣ በ pediatric Nursing እና በ surgical Nursing ለመማር የምትፈልጉ እና መስፈርቱ የምታሟሉ የመዝገባው ጊዜ እስከ 26/05/2016 ዓ.ም የተራዘመ መሆኑን እናሳውቃልን፡፡</p>
<p><a href="https://portal.sphmmc.edu.et/Web/Announcement">https://portal.sphmmc.edu.et/Web/Announcement</a> እንድትመዘገቡ እናሳወቃለን፡፡</p>
<ul>
<li><strong>የመመዝገቢያመስፈርቶች፣</strong></li>
<li>በነርሲንግ ዲፕሎማ ደረጃ 4 የተመረቀች/የተመረቀ በሁሉም ስፔሻሊቲ ፕሮግራሞች መወዳደር ይችላሉ፣</li>
<li>የሚድዋይፍሪ ዲፕሎማ ደረጃ የተመረቀች /የተመረቀ በጨቅላ ህፃናት እና በህፃናት ነርሲንግ መመዝገብ ይችላል፣</li>
<li>ከመስሪያቤታቸው የስፖንሰርሺፕ ደብዳቤ ማምጣት ወይም ከፍሎ መማር የሚችል/የሚትችል፡፡</li>
<li>ኮሌጅ የሚያዘጋጀውን የቃል እና የፁሑፍ ፈተና ማለፍ የሚችል/የምትችል፣</li>
<li>ሙሉ ጤነኛ የሆነ/የሆነች</li>
<li>አንድ ዓመት የስራ ልምድ ያለው/ ያላት</li>
</ul>
<p><u>ማሳሰቢያ፡</u></p>
<ul>
<li>የመመዝገቢያ የማይመለስ 100 ብር በኮሌጁ ንግድ ባንክ አካዉንት ቁጥር 1000006577192 በማስገባት ደረሰኝ upload ማድረግ</li>
<li>ዲፕሎማ፤ትራንስክሪፕት እና የስራ ልምድ upload ማድረግ</li>
<li>አስፈላጊውን ዶክመንት ያላሟላ ፈተናው ላይ እንደማይቀመጥ በጥብቅ እናሳውቃለን፡፡</li>
<li>ለበለጠ መረጃ 0112756089 ይደዉሉ</li>
</ul>
<p>&nbsp;</p>
]]></content:encoded>
			</item>
		<item>
		<title>ለነርሲንግ ፖስት ማስታወቂያ</title>
		<link>https://sphmmc.edu.et/2024/01/03/%e1%88%88%e1%8a%90%e1%88%ad%e1%88%b2%e1%8a%95%e1%8c%8d-%e1%8d%96%e1%88%b5%e1%89%b5-%e1%88%9b%e1%88%b5%e1%89%b3%e1%8b%88%e1%89%82%e1%8b%ab/</link>
		<pubDate>Wed, 03 Jan 2024 11:04:56 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1925</guid>
		<description><![CDATA[ማስታወቂያ የቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ሕክምና ኮሌጅ በ2016 ዓ.ም በአምስት የነርሲንግ ፖስት ቤዚክ ስፔሻሊቲ ማለትም በ Emergency and Critical Care Nursing፣ በ operating Theater Nurse፣ በ neonatal Nursing፣ በ Pediatric Nursing እና በ surgical&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p><strong><u>ማስታወቂያ</u></strong></p>
<p>የቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ሕክምና ኮሌጅ በ2016 ዓ.ም በአምስት የነርሲንግ ፖስት ቤዚክ ስፔሻሊቲ ማለትም በ Emergency and Critical Care Nursing፣ በ operating Theater Nurse፣ በ neonatal Nursing፣ በ Pediatric Nursing እና በ surgical Nursing ለመማር የምትፈልጉ እና መስፈርቱ የምታሟሉ ከ 24/04/2016 &#8211; 19/05/2016 ዓ.ም online <a href="https://portal.sphmmc.edu.et/Web/Announcement">https://portal.sphmmc.edu.et/Web/Announcement</a> እንድትመዘገቡ እናሳወቃለን፡፡</p>
<ul>
<li><strong>የመመዝገቢያመስፈርቶች፣</strong></li>
<li>በነርሲንግ ዲፕሎማ ደረጃ 4 የተመረቀች/የተመረቀ በሁሉም ስፔሻሊቲ ፕሮግራሞች መወዳደር ይችላሉ፣</li>
<li>የሚድዋይፍሪ ዲፕሎማ ደረጃ የተመረቀች /የተመረቀ በጨቅላ ህፃናት እና በህፃናት ነርሲንግ መመዝገብ ይችላል፣</li>
<li>ከመስሪያቤታቸው የስፖንሰርሺፕ ደብዳቤ ማምጣት ወይም ከፍሎ መማር የሚችል/የሚትችል፡፡</li>
<li>ኮሌጅ የሚያዘጋጀውን የቃል እና የፁሑፍ ፈተና ማለፍ የሚችል/የምትችል፣</li>
<li>ሙሉ ጤነኛ የሆነ/የሆነች</li>
<li>አንድ ዓመት የስራ ልምድ ያለው/ ያላት</li>
</ul>
<p><u>ማሳሰቢያ፡</u></p>
<ul>
<li>የመመዝገቢያ የማይመለስ 100 ብር በኮሌጁ ንግድ ባንክ አካዉንት ቁጥር 1000006577192 በማስገባት ደረሰኝ upload ማድረግ</li>
<li>ዲፕሎማ፤ትራንስክሪፕት እና የስራ ልምድ upload ማድረግ</li>
<li>አስፈላጊውን ዶክመንት ያላሟላ ፈተናው ላይ እንደማይቀመጥ በጥብቅ እናሳውቃለን፡፡</li>
<li>ለበለጠ መረጃ 0112756089 ይደዉሉ</li>
</ul>
<p><u>ለመመዝገብ ወደ ሲስተሙ ስትገቡ ማድረግ ያለባቹ</u></p>
<ul>
<li>ወደ መመዝገቢያ ሊንኩ ከገባቹ በኃላ</li>
<li>Apply now / Apply for admission የሚለውን ሊንክ መጫን</li>
<li>የሚፈልጉትን ፕሮግራም በመምረጥ Apply ማለት</li>
<li><strong>ቀጥሎ</strong> <strong>basic information </strong><strong>በማስገባት</strong> <strong>summit </strong><strong>ሲባል</strong> <strong>Application has successfully submitted </strong><strong>የሚል</strong> <strong>ኖቲፊኬሽን</strong> <strong>ከ</strong><strong>Application number </strong><strong>ጋር</strong> <strong>አብሮ</strong> <strong>ይመጣል</strong> <strong><u>Application number </u></strong><strong>ለቀጣይ</strong> <strong>ዶክመንት</strong> <strong>ለማስገባት</strong> <strong>ስለሚጠቅም</strong> <strong>ቁጥሩን</strong> <strong>መያዝ</strong> <strong>ግዴታ</strong> <strong>ነው።</strong></li>
<li>ቀጥሎ upload receipt የሚለውን በመጫን የመመዝገቢያ የተከፈለበትን ደረሰኝ upload ማድረግ</li>
<li>ቀጥሎ upload document ላይ በመግባት ዶክመንታቹን አስገብታቹ ስትጨርሱ Summit document የሚለውን በመጫን ምዝገባውን ታጠናቅቃላቹ።</li>
</ul>
<p>ሬጅስትራር ጽ/ቤት</p>
<p style="text-align: right;">
]]></content:encoded>
			</item>
		<item>
		<title>Call for entrance Exam</title>
		<link>https://sphmmc.edu.et/2023/12/06/call-for-entrance-exam/</link>
		<pubDate>Wed, 06 Dec 2023 06:40:34 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1921</guid>
		<description><![CDATA[Announcement School of Public Health is delighted to inform you about the upcoming events in the selection process for all our MPH programs (regular and weekend). Please carefully read the following announcements regarding the&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p><strong><u>Announcement</u></strong></p>
<p>School of Public Health is delighted to inform you about the upcoming events in the selection process for all our MPH programs (regular and weekend). Please carefully read the following announcements regarding the written exam, written exam result, and interview exam.</p>
<ol>
<li>Written Exam:</li>
</ol>
<ul>
<li>Date: December 16,2023</li>
<li>Time: 8:30 AM</li>
<li>Venue: St. Paul’s Hospital Millennium Medical College</li>
</ul>
<ol start="2">
<li>Written Exam Result will be posted</li>
</ol>
<ul>
<li>Date: December 19,2023</li>
<li>Venue: Posted on boards of Registrar office/ telegram page of SPHMMC</li>
</ul>
<ol start="3">
<li>Interview Exam:</li>
</ol>
<ul>
<li>Date: December 22, 2023</li>
<li>Venue: School of Public Health</li>
</ul>
<p>Please arrive at the exam venue at least 30 minutes before the scheduled start time and bring your identification card.</p>
]]></content:encoded>
			</item>
		<item>
		<title>To all 2016 Medical Undergraduate Program Examinees and Families</title>
		<link>https://sphmmc.edu.et/2023/12/02/to-all-2016-medical-undergraduate-program-examinees-and-families/</link>
		<pubDate>Sat, 02 Dec 2023 18:57:06 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1918</guid>
		<description><![CDATA[Dear 2016 Medical Undergraduate Program Examinees and Families, As previously mentioned, the Admission Committee has meticulously reviewed the grades of all students manually. Please click here to open the list In the event anyone&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<div>Dear 2016 Medical Undergraduate Program Examinees and Families,</div>
<div>As previously mentioned, the Admission Committee has meticulously reviewed the grades of all students manually. <a href="http://sphmmc.edu.et/med2016/2016_SPHMMC_UG_Candidates_Final_compiled_result.pdf">Please click here to open the list</a></div>
<div>In the event anyone wants. appeal, Please follow the points listed below strictly</div>
<div>
<ol>
<li> All appeals will be accepted ONLY on the following three consecutive working days, December 4, 5, and 6 2023.</li>
<li>Write an appeal application letter</li>
<li> Pay 200 birr and attach the receipt with your application letter to the following Bank Account number of the college:</li>
<li>Submit your application at the Academic Vice Provost&#8217;s office located at the administration building</li>
</ol>
</div>
<p>Commercial Bank of Ethiopia,<br />
St. Paul&#8217;s Hospital Millennium Medical A/C Number 1000208431068</p>
]]></content:encoded>
			</item>
		<item>
		<title>Dear Examinees of the 2016 Saint Paul Hospital Millennium Medical College, families and friends of Examinees.</title>
		<link>https://sphmmc.edu.et/2023/11/22/dear-examinees-of-the-2016-saint-paul-hospital-millennium-medical-college-families-and-friends-of-examinees/</link>
		<pubDate>Wed, 22 Nov 2023 09:40:20 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1915</guid>
		<description><![CDATA[Our college has been maintaining transparency and accountability in conducting annual examinations for new undergraduate entries ever since its establishment during the Ethiopian Millennium.  This year as well there were several complaints accepted for the written&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<div>Our college has been maintaining transparency and accountability in conducting annual examinations for new undergraduate entries ever since its establishment during the Ethiopian Millennium.  This year as well there were several complaints accepted for the written exam and all of them settled with a 100% agreement and documented appropriately.  As per our work ethics, we accepted complaints from some candidates after we posted this year&#8217;s Final results. Following preliminary investigations by the admission committee, we have identified an unexpected issue this year. For the first time, we found that the Excel calculator formula for 10% (ECLCE and high school grade) had an error, that was overlooked to post the results hastily due to pressure. from stakeholders.</div>
<div>Thanks to our transparent procedure and cautious candidates and their families, the preliminary check showed that there can be a major change in the final candidates joining SPHMMC.</div>
<div></div>
<div><b>Because of these facts; the Posted final result on November 21, 2023, is Officially canceled.</b></div>
<div>Considering the identified irregularities on the 10% grade we will conduct a thorough evaluation of all candidates who took the interview and the final results at the earliest possible time.</div>
<div></div>
<div>The admission committee and the college wholeheartedly apologize for any inconvenience you may have experienced as a result of this process.</div>
<div>We encourage you to work with us during this process to strengthen our transparent and accountable system.</div>
<div>Please be advised that the college admission committee Will still be open to accept further complaints after the corrected results are posted.</div>
<p>&nbsp;</p>
]]></content:encoded>
			</item>
		<item>
		<title>በድጋሚ የወጣ የምዝገባ ማስታወቂያ</title>
		<link>https://sphmmc.edu.et/2023/11/20/%e1%89%a0%e1%8b%b5%e1%8c%8b%e1%88%9a-%e1%8b%a8%e1%8b%88%e1%8c%a3-%e1%8b%a8%e1%88%9d%e1%8b%9d%e1%8c%88%e1%89%a3-%e1%88%9b%e1%88%b5%e1%89%b3%e1%8b%88%e1%89%82%e1%8b%ab/</link>
		<pubDate>Mon, 20 Nov 2023 12:39:18 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1911</guid>
		<description><![CDATA[በድጋሚ የወጣ የምዝገባ ማስታወቂያ የድህረ ምረቃ ትምህርት መማር ለምትፈልጉ በቅ/ጳ/ሆ/ሚ/ህ/ኮሌጅ በሚከተሉት የትምህርት ዘርፎች የድህረ ምረቃ ትምህርት ለመማር የምትፈልጉና National Graduate Admission Test ወስዳችሁ የማለፊያ ዉጤት ያገኛችሁ በሙሉ ነገር ግን ከዚህ ቀደም ያልተመዘገባችሁ እስከ ሐሙስ&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p><strong>በድጋሚ የወጣ የምዝገባ ማስታወቂያ</strong></p>
<p><strong>የድህረ ምረቃ ትምህርት መማር ለምትፈልጉ</strong></p>
<p>በቅ/ጳ/ሆ/ሚ/ህ/ኮሌጅ በሚከተሉት የትምህርት ዘርፎች የድህረ ምረቃ ትምህርት ለመማር የምትፈልጉና National Graduate Admission Test ወስዳችሁ የማለፊያ ዉጤት ያገኛችሁ በሙሉ ነገር ግን ከዚህ ቀደም ያልተመዘገባችሁ እስከ ሐሙስ ህዳር 13፣ 2016 ዓ.ም ድረስ National Graduate Admission Test ዉጤት እና ማስረጃችሁን በመያዝ በኮሌጁ ሬጅስትራር እንድትመዘገቡ እናሳውቃለን፡፡</p>
<p><strong>Fellowship Program</strong></p>
<ol>
<li>Adult Intensive Care Medicine</li>
</ol>
<p><strong>Masters of Science Program</strong></p>
<ol>
<li>Master of Science in Medical Microbiology</li>
<li>Master of Science in Respiratory Care</li>
<li>Master of Science in Medical Radiologic Technology &#8211; CT &amp; MRI Pathway</li>
<li>Master of Science in Medical Radiologic Technology &#8211; Ultrasonography Pathway</li>
<li>Master of Science in Medical Radiologic Technology &#8211; Radiography, Fluoroscopy &amp; Mamography Pathway</li>
<li>Master of Science in Medical Radiologic Technology &#8211; &#8211; Cath Lab Pathway</li>
<li>Master of Science in Cardio thoracic Surgery Nursing</li>
<li>Master of Science in Cardiovascular Nurse</li>
<li>Masters of Science in Critical Care Nurse</li>
<li>Master of Science in Paramedics</li>
<li>Master of Science in Clinical oncology nursing</li>
<li>Master of Science in Neonatal Nursing</li>
</ol>
<p><strong>Master of Public health </strong></p>
<ol>
<li>Master of Public health in Field Epidemiology (Laboratory/clinical track) regular</li>
<li>Master of Public health in General Public Health – regular and weekend</li>
<li>Master of Public health in Public health Nutrition – regular and weekend</li>
<li>Master of Public health in Epidemiology – regular and weekend</li>
<li>Master of Public health in health Communication and Promotion &#8211; regular and weekend</li>
</ol>
]]></content:encoded>
			</item>
		<item>
		<title>ማስታወቂያ</title>
		<link>https://sphmmc.edu.et/2023/11/06/%e1%88%9b%e1%88%b5%e1%89%b3%e1%8b%88%e1%89%82%e1%8b%ab/</link>
		<pubDate>Mon, 06 Nov 2023 13:32:55 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1908</guid>
		<description><![CDATA[ከዚህ ቀደም በቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ህክምና ኮሌጅ በድህረ ምረቃ ፕሮግራም (MSc, MPH and PhD) ለመማር ተመዝግባችሁ GAT ያልወሰዳችሁም ሆነ ተፈትናችሁ የGAT የማለፊያ ውጤታችሁያልተሟ ላለችሁ እና እንደአዲስ ማመልከት ለምትፈልጉ በሙሉ፡፡ ከዚህ ቀደም የGAT ፈተና&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p>ከዚህ ቀደም በቅዱስ ጳውሎስ ሆስፒታል ሚሊኒየም ህክምና ኮሌጅ በድህረ ምረቃ ፕሮግራም (MSc, MPH and PhD) ለመማር ተመዝግባችሁ GAT ያልወሰዳችሁም ሆነ ተፈትናችሁ የGAT የማለፊያ ውጤታችሁያልተሟ ላለችሁ እና እንደአዲስ ማመልከት ለምትፈልጉ በሙሉ፡፡</p>
<ol>
<li>ከዚህ ቀደም የGAT ፈተና ወስዳችሁ የማለፊያ ውጤት ያላችሁ እና ከዚህ ቢፊት ለኮሌጃችን ያላመለከታችሁ፤</li>
</ol>
<p>&nbsp;</p>
<ol start="2">
<li>ከዚህ ቀደም ያልተፈተናችሁና ተፈትናችሁ የማለፊያ ውጤት ያላገኛችሁ አዲስ አበባ ዩኒቨርስቲ ባወጣው ፕሮግራም መሰረት የመመዝገቢያ ቀን November 6-10/2023 ቀን ሲሆን የመፈተኛ ቀን November 13-17/2023 በመሆኑ ፈተናውን መውሰድ ትችላላችሁ፡፡</li>
</ol>
<p>&nbsp;</p>
<ul>
<li>ለበለጠ መረጃ እና ለፈተናው ለመመዝገብ የአዲስ አበባዩ ኒቨርስቲ የመረጃ መረብን (https://portal.aau.edu.et) መመልከት ትችላላችሁ፡፡</li>
</ul>
<p>&nbsp;</p>
<p>ስለዚህ የማለፊያ ውጤት ያላችሁም  ሆነበተራ ቀጥር 2. በተገጸው መሰረት ፈተናውን ወሰዳችሁ የማለፊያ ውጤት የምታስመዘግቡ በሙሉ በኮሌጃችን ሬጅስትራር በመቅረብ ከ November 20-24/2023 ድረስ እንድትመዘገቡ እናሳውቃልን፡፡</p>
]]></content:encoded>
			</item>
		<item>
		<title>Exam result for 2023 Medical School Applicants</title>
		<link>https://sphmmc.edu.et/2023/11/06/exam-result-for-2023-medical-school-applicants/</link>
		<pubDate>Mon, 06 Nov 2023 03:31:06 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1904</guid>
		<description><![CDATA[The Interview will be conducted on Tuesday Nov, 07/2023. Dear applicants to SPHMM 2016 EC undergraduate program, please click this link to see your result Please note the following points INTERVIEW for selected applicants; 1.&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<p style="text-align: center;"><span style="color: #0000ff;"><em><strong>The Interview will be conducted on Tuesday Nov, 07/2023.</strong></em></span></p>
<p>Dear applicants to SPHMM 2016 EC undergraduate program, please <a href="http://sphmmc.edu.et/med2016/Final Accepted for Interview List November 5 2023.pdf">click this link to see your result</a><br />
Please note the following points<br />
INTERVIEW for selected applicants;<br />
1. Interview for accepted applicants is grouped into two. Time of interview is as follows.<br />
a. Morning Interviewee group, Arrive at 8:00 AM ( tewat hulet (2 )SEEA’T local time) at the<br />
Administration Building<br />
b. Afternoon Interviewee group, Arrive at 1:00 PM ( keseat behula (7) SEBA’T SEEA’T Local time) at the<br />
Administration Building<br />
2. If you have complaint you can come to the administration office On Monday, November 6, 2023/<br />
Tikemt 26 2016 until 5:00 PM ( keseat behula (11) ASERA ANDD SEEA’T Local time) at the administration<br />
building<br />
3. If you want to have your answer sheet retrieved and check the results you must: &#8211;<br />
a. Write an application letter that you want to Check the answer sheet.<br />
b. Pay 100 birr and attach the receipt with your Hand written application letter on the following Bank<br />
Account number of the college:<br />
Commercial Bank of Ethiopia,<br />
St. Paul&#8217;s Hospital Millennium Medical A/C Number 1000208431068</p>
]]></content:encoded>
			</item>
		<item>
		<title>Candidates for the 2023 SPHMMC written examination.</title>
		<link>https://sphmmc.edu.et/2023/11/03/candidates-for-the-2023-sphmmc-written-examination/</link>
		<pubDate>Fri, 03 Nov 2023 18:53:19 +0000</pubDate>
		<dc:creator><![CDATA[dagne minda]]></dc:creator>
				<category><![CDATA[Latest news]]></category>

		<guid isPermaLink="false">https://sphmmc.edu.et/?p=1902</guid>
		<description><![CDATA[Dear Candidates for the 2023 Saint Paul Hospital Millennium Medical College written examination. Please open the link below that has notifications. How you should fill out your answer sheet. Written examination protocol The allocation of rooms where you take&#46;&#46;&#46;]]></description>
				<content:encoded><![CDATA[<div><b>Dear Candidates for the 2023 Saint Paul Hospital Millennium Medical College written examination. </b><b>Please open the link below that has notifications.</b></div>
<ol>
<li><b>How you should fill out your answer sheet. <a href="http://sphmmc.edu.et/med2016/Written Examination Protocols.pdf">Written examination protocol</a></b></li>
<li><b>The allocation of rooms where you take the examination  ( from 101- 405) Find your <a href="http://sphmmc.edu.et/med2016/Studets room allocation 2016 v02.pdf">name and room number</a> and go straight to the examination room on your arrival            </b></li>
</ol>
]]></content:encoded>
			</item>
	</channel>
</rss>
